[phases.setup]
nixPkgs = ["nodejs-18_x", "npm-9_x"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
    "export NODE_ENV=production && node node_modules/next/dist/bin/next build",
    "node copy-assets.js"
]

[start]
cmd = "node start-server.js"


